.sidebar{
    position: fixed;
left: 0;
bottom: 0;
top: 55px;
background-color: white;
width: 72px;
z-index: 200;
}

.sidebar-link {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 74px;
    flex-direction: column;
    padding-top: 4px;
cursor: pointer;
}
.sidebar-link:hover{
    background-color: lightgray;
}

.sidebar-link img{
height: 24px;
margin-bottom: 10px;
}

.sidebar-link div{
    font-size:10px;
}